/* @define-color global-color #a8f1f7; */
@define-color global-color #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: BlexMono Nerd Font;
    /* font-family: CaskadiyaMono Nerd Font; */
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: @global-color;
}

window#waybar {
    background: #000000;
    /*  border-radius: 15px; */
    /*  border: 2px solid #124323; */
    /* border: 0px solid #A1BDCE; */
    /* border: 3px solid rgba(255, 255, 255, 0.1); */
    /* border: 2px solid rgba(50, 50, 50, 0.7); */
    /* border-radius: 10px; */
}

/* #waybar {
    color: @foreground;
    background-color: @background;
} */

#workspaces {
    padding-left: 0.7em;
}

#workspaces button {
    color: @foreground;
    padding-right: 0.5em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#tray
{
    padding-right: 1em;
    padding-left: 0.5em;
}

#wireplumber {
    padding-right: 1.2em;
    color: #f0e68d;
}

#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth
{
    padding-right: 1em;
}

#right-hidden
{
    padding-right: 1em;
}

#left-hidden
{
    padding-left: 0.5em;
}

#custom-power {
    padding-right: 1em;
    font-size: 15px;
}

#custom-ctlcenter {
    padding-right: 1.2em;
    color: #f0a18d;
}

#memory {
    padding-left: 1em;
    color: #8df08d;
}

#cpu {
    padding-left: 0.5em;
    color: #6cb4f8;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

